/*body*/
.content-main {
  width: 100%;
  min-height: 100vh;
}
  
/*loading*/
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 1000;
}